.home-section.wg-about-avatar {
  padding: 0;
  background: linear-gradient(rgba(20,20,20,0.4), rgba(20,20,20,0.4)), url('/media/IMG_1113.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  box-shadow: none;
}
